In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stat

In [3]:
data1=pd.read_csv('Sales_add.csv')

In [4]:
data1

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402
5,Month-6,Region - A,Manager - B,137163,256948
6,Month-7,Region - C,Manager - C,130625,222106
7,Month-8,Region - A,Manager - A,131140,230637
8,Month-9,Region - B,Manager - C,171259,226261
9,Month-10,Region - C,Manager - B,141956,193735
10,Month-11,Region - B,Manager - C,159339,203175
11,Month-12,Region - A,Manager - A,178939,276279
12,Month-13,Region - B,Manager - A,145062,205180
13,Month-14,Region - A,Manager - A,151514,253131
14,Month-15,Region - C,Manager - A,147463,229336
15,Month-16,Region - A,Manager - B,177195,187305
16,Month-17,Region - A,Manager - C,140862,234908
17,Month-18,Region - C,Manager - B,167996,191517
18,Month-19,Region - B,Manager - A,132135,227040
19,Month-20,Region - A,Manager - B,152493,212579
20,Month-21,Region - B,Manager - A,147425,263388
21,Month-22,Region - A,Manager - C,130263,243020

In [8]:
data1.shape

(22, 5)

number of rows:22
number of columns:5

In [10]:
data1.describe()

       Sales_before_digital_add(in $)  Sales_After_digital_add(in $)
count                       22.000000                      22.000000
mean                    149239.954545                  231123.727273
std                      14844.042921                   25556.777061
min                     130263.000000                  187305.000000
25%                     138087.750000                  214960.750000
50%                     147444.000000                  229986.500000
75%                     157627.500000                  250909.000000
max                     178939.000000                  276279.000000

In [12]:
data1.isna().sum()

Month                             0
Region                            0
Manager                           0
Sales_before_digital_add(in $)    0
Sales_After_digital_add(in $)     0
dtype: int64

no null values present

In [14]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 5 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Month                           22 non-null     object
 1   Region                          22 non-null     object
 2   Manager                         22 non-null     object
 3   Sales_before_digital_add(in $)  22 non-null     int64
 4   Sales_After_digital_add(in $)   22 non-null     int64
dtypes: int64(2), object(3)
memory usage: 1008.0+ bytes

# clarification of increase in sales after stepping into digital marketing.

H0=Mean of sales after digital marketing <= mean of sales before digital marketing

H1=Mean of sales after digital marketing > mean of sales before digital marketing

In [16]:
stat.ttest_rel(data1['Sales_After_digital_add(in $)'],data1['Sales_before_digital_add(in $)'],alternative='greater')

Ttest_relResult(statistic=12.09070525287017, pvalue=3.168333502287889e-11)

The  p value is  > 0.05
conclusion: sales after digital marketing is less than or equal to mean of sales before digital marketing

# dependency between the features “Region” and “Manager”

H0='Region' and 'Manager' are independent

H1='Region' and 'Manager' are dependent

In [20]:
data1['Region'].unique()

array(['Region - A', 'Region - B', 'Region - C'], dtype=object)

In [21]:
data1['Manager'].unique()

array(['Manager - A', 'Manager - C', 'Manager - B'], dtype=object)

In [22]:
man_num={'Region - A':1,'Region - B':2,'Region - C':3}
man_num

{'Region - A': 1, 'Region - B': 2, 'Region - C': 3}

In [23]:
reg_num={'Manager - A':1,'Manager - B':2,'Manager - C':3}
reg_num

{'Manager - A': 1, 'Manager - B': 2, 'Manager - C': 3}

In [25]:
region_num=[man_num[item] for item in data1.Region]
region_num

[1, 1, 2, 2, 3, 1, 3, 1, 2, 3, 2, 1, 2, 1, 3, 1, 1, 3, 2, 1, 2, 1]

In [26]:
manager_num=[reg_num[item] for item in data1.Manager]
manager_num

[1, 3, 1, 2, 2, 2, 3, 1, 3, 2, 3, 1, 1, 1, 1, 2, 3, 2, 1, 2, 1, 3]

In [27]:
data1['Manager_num']=manager_num
data1['Region_num']=region_num
data1

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $),Manager_num,Region_num
0,Month-1,Region - A,Manager - A,132921,270390,1,1
1,Month-2,Region - A,Manager - C,149559,223334,3,1
2,Month-3,Region - B,Manager - A,146278,244243,1,2
3,Month-4,Region - B,Manager - B,152167,231808,2,2
4,Month-5,Region - C,Manager - B,159525,258402,2,3
5,Month-6,Region - A,Manager - B,137163,256948,2,1
6,Month-7,Region - C,Manager - C,130625,222106,3,3
7,Month-8,Region - A,Manager - A,131140,230637,1,1
8,Month-9,Region - B,Manager - C,171259,226261,3,2
9,Month-10,Region - C,Manager - B,141956,193735,2,3
10,Month-11,Region - B,Manager - C,159339,203175,3,2
11,Month-12,Region - A,Manager - A,178939,276279,1,1
12,Month-13,Region - B,Manager - A,145062,205180,1,2
13,Month-14,Region - A,Manager - A,151514,253131,1,1
14,Month-15,Region - C,Manager - A,147463,229336,1,3
15,Month-16,Region - A,Manager - B,177195,187305,2,1
16,Month-17,Region - A,Manager - C,140862,234908,3,1
17,Month-18,Region - C,Manager - B,167996,191517,2,3
18,Month-19,Region - B,Manager - A,132135,227040,1,2
19,Month-20,Region - A,Manager - B,152493,212579,2,1
20,Month-21,Region - B,Manager - A,147425,263388,1,2
21,Month-22,Region - A,Manager - C,130263,243020,3,1

In [29]:
from scipy.stats import chi2_contingency

 p value > 0.05
 
conclusion: The variables of region & manager are independent.there is no particular dependency between the variables region and manager

In [35]:
table=data1.drop(['Month','Region','Manager','Sales_before_digital_add(in $)','Sales_After_digital_add(in $)'],axis=1)
stat,p,dof,expected=chi2_contingency(table)
print('stat=%.3f, p=%.3f' % (stat, p))

stat=7.288, p=0.998